#dronestream1 {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
}

#dronestream2 {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 50%;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
}


#dronestream1 canvas {
    position:absolute;
    left:-12%;
    height: 100%;
}

#dronestream2 canvas {
    position: absolute;
    left:-50%;
    height: 100%;
}
